pyaes>=0.1a1
ecdsa>=0.13
qrcode
protobuf
dnspython
jsonrpclib-pelix
qdarkstyle<2.7
aiorpcx>=0.18,<0.19
aiohttp>=3.10.2
aiohttp_socks
certifi
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
